<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micromanaged.oa.infrastructure.position.mapper.PositionMapper">
    <insert id="insertPositionPO" useGeneratedKeys="true"
            keyProperty="positionId" keyColumn="position_id">
        INSERT INTO sys_position (position_code,position_name,position_sort,position_status,position_remark)
        VALUES
        (#{position.positionCode},#{position.positionName},#{position.positionSort},#{position.positionStatus},#{position.positionRemark})
    </insert>
</mapper>